/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .container h1{
    font-size:32px;
  }
  
  .lesson{
  width:50%;
}

.lesson{
  margin-bottom:50px;
}

.heading h2{
  font-size:20px;
  text-align:center;
}

footer{
  text-align:center;
}

}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
.top-wrapper .btn{
  width:100%;
}

.header-right{
  display:none;
}

.menu-icon{
  display:block;
}

.top-wrapper{
  text-align:left;
}

.top-wrapper h1{
  font-size:24px;
}

.top-wrapper p{
  font-size:14px;
}

.facebook{
  margin-bottom:10px;
}


.heading h2{
  text-align:center;
}

.heading h3{
  text-align:center;
}

.lesson{
  width:100%;
}

.message-wrapper .btn{
  width:100%;  
}

}
